

.main{

    width: 100;
    height: 800px;
    background-color: rgb(220, 229, 236);
    margin: 40px 50px;
    border: 0px solid;


}

.main > *{
    display: inline-block;
    border: 0px solid;
    /* margin-top: 100px; */
}

.body1{

    width: 20%;
    height:700px ;
    background-color: rgb(112, 183, 245);
    


}

.body2{
    
    width: 20%;
    height:700px ;
    background-color: rgb(185, 215, 243);
    margin: 20px 40px;
}

.body3{

    width: 20%;
    height:700px ;
    background-color: rgb(192, 220, 243);
    margin: 20px 40px;
    
}

.body4{

    width: 20%;
    height:700px ;
    background-color: rgb(209, 227, 243);
    margin: 20px 40px;
    
}

.body1,.body2,.body3,.body4{
    border: 0px solid;
}

img{
    margin: 30px;
    border: 0px solid;
}

.text{

    margin-left: 10px;
}